page-home {

    .col{
      text-align:center !important;
    }

    .row{
      padding-bottom:25% !important;
    }

    .my-icon:before,
    .my-icon{
      font-size:60px !important;
      display:block !important;
    }

}
